<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/webapp/css.css">
</head>
<style>
#btn{
background: #fff;
color: #000;
width : 100px;
display: inline-block;
min-width: 80px;
padding: 10px;
border: 1px solid #000;
border-radius: 2px;
font-size: 1.4rem;
}
</style>
<body>
<div class ="layout">
    <form action="/demo/writepro" method="post" >
        <div class="board_wrap">
            <div class="board_title">
                <strong>PASP</strong>
                <p>빠르고 정확하게 안내해드립니다.</p>
            </div>
            <div class="board_write_wrap">
                <div class="board_write">
                    <div class="title">
                        <dl>
                            <dt>회사명</dt>
                            <dd><input name = "Title" type="text" placeholder="회사명 입력"></dd>
                        </dl>
                    </div>
                    <div class="info">
                        <dl>
                            <dt>작성자</dt>
                            <dd><input name = "Writer" type="text" placeholder="작성자 입력"></dd>
                        </dl>

                    </div>
                    <div class="cont">
                        <textarea name = "Content" type="text" placeholder="내용 입력"></textarea>
                    </div>
                </div>
                <div class="bt_wrap">
                    <button id = "btn" type = "submit" >작성</button>
                    <a href=/demo/list>취소</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>